Repository flox/flox, pull requests merged in 2024-12, with the labels that each got.

#2451 chore: Release 1.3.6
  VERSION
Labels: team-cli

#2450 feat(build): detect empty $out/bin and executables outside
  cli/flox-rust-sdk/src/providers/build.rs
  package-builder/build-manifest.nix
Labels: team-cli

#2448 feat(build): set `HOME` to a writable directory in the build sandbox
  cli/flox-rust-sdk/src/providers/build.rs
  package-builder/build-manifest.nix
Labels: team-cli

#2464 feat(edit): Show spinner for edit -f
  cli/flox/src/commands/edit.rs
Labels: team-cli

#2470 fix(containerize): stdout handle, instead of `/dev/stdout` as a file
  cli/flox/src/commands/containerize.rs
Labels: team-cli

#2471 docs(edit): Clarify docs for --sync and --reset
  cli/flox/doc/flox-edit.md
  cli/flox/src/commands/edit.rs
  cli/flox/src/utils/errors.rs
Labels: team-cli

#2459 feat: implement new initial manifest and fix tests
  cli/flox-rust-sdk/src/models/environment/path_environment.rs
  cli/flox-rust-sdk/src/models/lockfile.rs
  cli/flox-rust-sdk/src/models/manifest.rs
Labels: team-cli

#2485 feat: recommend .profile for default env
  cli/flox/src/commands/install.rs
Labels: team-cli

#2487 fix: nested activations for fish
  assets/activation-scripts/activate
  assets/activation-scripts/activate.d/attach-command.bash
  assets/activation-scripts/activate.d/attach-inplace.bash
  assets/activation-scripts/activate.d/attach-interactive.bash
  assets/activation-scripts/activate.d/fish
  assets/activation-scripts/activate.d/generate-fish-startup-commands.bash
  cli/tests/activate.bats
  pkgs/flox-activation-scripts/default.nix
Labels: team-cli

#2488 feat(containerize): Mark non-hidden/experimental
  cli/flox/doc/flox-containerize.md
  cli/flox/src/commands/mod.rs
  cli/tests/usage.bats
Labels: team-cli

#2494 Shuffle remote builders
  .github/actions/common-setup/action.yml
  .github/workflows/ci.yml
Labels: team-developer-support

#2496 bump: 1.3.6 -> 1.3.7
  VERSION
Labels: team-cli

#2505 fix: zshenv -> zshrc zprofile
  cli/flox/src/commands/install.rs
Labels: team-cli

#2506 bump: 1.3.7 -> 1.3.8
  VERSION
Labels: team-cli

#2508 chore: zsh notes
  assets/activation-scripts/activate.d/zdotdir/README.md
Labels: team-cli

#2468 ci: allow tags to be built
  .github/workflows/ci.yml
Labels: team-cli

#2504 chore: fix a few follow up publish items
  cli/flox-rust-sdk/src/providers/buildenv.rs
Labels: team-cli

#2512 docs: update link to default environment tutorial
  cli/flox/src/commands/install.rs
Labels: team-cli

#2497 fix: do not return early with `false` if iid is not a catalog package
  cli/flox-rust-sdk/src/models/manifest.rs
  cli/tests/upgrade.bats
Labels: team-cli

#2516 fix(Justfile): gen-data depend on build-cli
  Justfile
Labels: team-cli

#2519 fix: init_logger sooner
  cli/flox/src/main.rs
Labels: team-cli

#2518 build(buildenv): drop dependency on flox-interpreter in dev builds
  Justfile
  flake.nix
  pkgs/flox-activation-scripts/default.nix
  pkgs/flox-buildenv/default.nix
Labels: team-cli

#2522 chore: use std::sync instead of once_cell
  cli/Cargo.lock
  cli/flox-rust-sdk/Cargo.toml
  cli/flox-rust-sdk/src/flox.rs
  cli/flox-rust-sdk/src/models/environment/mod.rs
  cli/flox-rust-sdk/src/models/lockfile.rs
  cli/flox-rust-sdk/src/models/pkgdb.rs
  cli/flox-rust-sdk/src/providers/catalog.rs
  cli/flox-rust-sdk/src/providers/git.rs
  cli/flox-rust-sdk/src/providers/services.rs
  cli/flox-watchdog/Cargo.toml
  cli/flox/src/commands/activate.rs
  cli/flox/src/utils/init/logger.rs
  cli/flox/src/utils/metrics.rs
  cli/flox/src/utils/mod.rs
Labels: team-cli

#2528 chore(test_data): Re-add envs/hello to config
  test_data/config.toml
  test_data/generated/envs/hello/hello.json
  test_data/generated/envs/hello/manifest.lock
  test_data/generated/envs/hello/manifest.toml
Labels: team-cli

#2529 fix: ensure `mkContainer.nix` is in the closure of flox
  pkgs/rust-internal-deps/default.nix
Labels: team-cli

#2509 feat: use nix to get derivation info for publish
  cli/flox-rust-sdk/src/providers/publish.rs
  cli/flox/src/commands/publish.rs
Labels: team-cli, team-saas

#2537 docs: add note about proxy container volume
  cli/flox/doc/flox-containerize.md
Labels: team-cli

#2548 Upgrade tailscale/github-action
  .github/actions/common-setup/action.yml
Labels: team-cli

#2530 feat: print messages via `tracing`
  cli/flox/src/utils/init/logger.rs
  cli/flox/src/utils/message.rs
Labels: team-cli

#2561 fix: Recursive walkReferences runs forever and eats all your CPU/RAM
  buildenv/builder.pl
Labels: bug, team-cli, team-developer-support

#2554 feat: add FLOX_ACTIVATE_TRACE debugging feature
  CONTRIBUTING.md
  assets/activation-scripts/activate
  assets/activation-scripts/activate.d/attach-command.bash
  assets/activation-scripts/activate.d/attach-inplace.bash
  assets/activation-scripts/activate.d/attach-interactive.bash
  assets/activation-scripts/activate.d/attach.bash
  assets/activation-scripts/activate.d/generate-bash-startup-commands.bash
  assets/activation-scripts/activate.d/generate-fish-startup-commands.bash
  assets/activation-scripts/activate.d/generate-tcsh-startup-commands.bash
  assets/activation-scripts/activate.d/set-prompt.bash
  assets/activation-scripts/activate.d/set-prompt.fish
  assets/activation-scripts/activate.d/set-prompt.tcsh
  assets/activation-scripts/activate.d/set-prompt.zsh
  assets/activation-scripts/activate.d/set-run-variables.bash
  assets/activation-scripts/activate.d/start-services.bash
  assets/activation-scripts/activate.d/start.bash
  assets/activation-scripts/activate.d/trace.bash
  assets/activation-scripts/activate.d/zdotdir/.zlogin
  assets/activation-scripts/activate.d/zdotdir/.zprofile
  assets/activation-scripts/activate.d/zdotdir/.zshenv
  assets/activation-scripts/activate.d/zdotdir/.zshrc
  assets/activation-scripts/activate.d/zsh
  pkgs/flox-activation-scripts/default.nix
Labels: team-cli

#2562 fix: minor bugs in cli/tests/activate.bats
  cli/tests/activate.bats
Labels: team-cli
