Repository flox/flox, pull requests merged in 2024-06, with the labels that each got.

#1539 fix: temporary fix to remove toolchain reference
  pkgs/flox-cli/default.nix
Labels: team-developer-support

#1569 chore: spec bump
  cli/catalog-api-v1/openapi.json
  cli/catalog-api-v1/src/client.rs
  cli/flox-rust-sdk/src/providers/catalog.rs
  test_data/generated/envs/kitchen_sink/kitchen_sink.json
  test_data/generated/envs/kitchen_sink/manifest.lock
  test_data/generated/envs/krb5_prereqs/krb5_prereqs.json
  test_data/generated/envs/krb5_prereqs/manifest.lock
  test_data/generated/init/go.json
  test_data/generated/init/node_npm.json
  test_data/generated/init/node_yarn.json
  test_data/generated/init/python_poetry.json
  test_data/generated/init/python_poetry_zlib.json
  test_data/generated/init/python_pyproject_pip.json
  test_data/generated/init/python_pyproject_pip_zlib.json
  test_data/generated/init/python_requests.json
  test_data/generated/init/python_requirements.json
  test_data/generated/init/python_requirements_zlib.json
  test_data/generated/resolve/curl_hello.json
  test_data/generated/resolve/emacs.json
  test_data/generated/resolve/emacs_vim.json
  test_data/generated/resolve/gzip.json
  test_data/generated/resolve/hello.json
  test_data/generated/resolve/krb5_after_prereqs_installed.json
  test_data/generated/resolve/ld_floxlib.json
  test_data/generated/resolve/old_hello.json
  test_data/generated/resolve/python3.json
  test_data/generated/resolve/python311Packages.pip.json
  test_data/generated/resolve/python3_pip.json
  test_data/generated/resolve/rubyPackages_3_2.rails.json
  test_data/generated/resolve/vim.json
  test_data/generated/resolve/webmention_ripgrep_rails.json
  test_data/generated/search/ello_all.json
  test_data/generated/search/hello.json
  test_data/generated/search/python.json
  test_data/generated/search/surely_doesnt_exist.json
  test_data/generated/show/flask.json
  test_data/generated/show/hello.json
Labels: team-cli

#1555 feat: feature flag to point FLOX_ENV_LIB_DIRS as CUDA libraries
  pkgdb/src/buildenv/assets/etc/profile.d/0800_cuda.sh
  pkgs/flox-pkgdb/default.nix
Labels: team-cli, team-developer-support

#1627 chore(catalog): Set request user-agent
  cli/Cargo.lock
  cli/Cargo.toml
  cli/flox-rust-sdk/Cargo.toml
  cli/flox-rust-sdk/src/providers/catalog.rs
Labels: team-cli

#1632 fix(activate): Improve user output when activating a remote env fails.
  cli/flox-rust-sdk/src/providers/git.rs
  cli/flox/src/commands/activate.rs
  cli/flox/src/utils/errors.rs
  cli/tests/environment-remote.bats
Labels: team-cli, team-saas

#1647 feat(cuda): include additional search location (eg; for Fedora)
  pkgdb/src/buildenv/assets/etc/profile.d/0800_cuda.sh
Labels: team-cli

#1660 chore(show): Remove deprecated --all argument
  cli/flox/src/commands/show.rs
  cli/tests/show.bats
Labels: team-cli

#1661 chore(pkgdb): Tighten gitignore for *.d
  pkgdb/.gitignore
Labels: team-cli

#1675 docs(cli): Fix a typo in `flox-containerize` docs
  cli/flox/doc/flox-containerize.md
Labels: team-cli

#1690 feat(edit, install): Impove error messages for remote commands.
  cli/flox/src/commands/edit.rs
  cli/flox/src/commands/install.rs
  cli/tests/environment-remote.bats
Labels: enhancement, team-saas

#1677 test: add upgrade test
  cli/tests/upgrade.bats
Labels: team-cli
