Repository flox/flox, pull requests merged in 2024-11, with the labels that each got.

#2302 chore: factor out test_helpers from build tests
  cli/flox-rust-sdk/src/providers/build.rs
Labels: team-cli

#2288 chore(watchdog): Move from bin to libexec
  pkgs/flox-cli-tests/default.nix
  pkgs/flox-cli/default.nix
  pkgs/flox-watchdog/default.nix
  pkgs/flox/default.nix
Labels: team-cli

#2308 chore: pin nix at version 2.18
  pkgs/nix/default.nix
Labels: team-cli

#2293 fix: local test failure
  pkgs/flox-cli-tests/default.nix
Labels: team-cli

#2316 chore: nix flake update
  cli/tests/services.bats
  flake.lock
Labels: team-cli

#2304 fix: hide default prompt by default
  cli/flox/doc/flox-config.md
  cli/flox/src/commands/activate.rs
Labels: team-cli

#2301 ci: fix git commit message checks
  .github/workflows/nix-managed-lints.yml
Labels: team-cli

#2128 feat: use 'now' as the creation timestamp
  pkgdb/src/libexec/mkContainer.nix
Labels: team-cli

#2338 fix: only get info for parent process
  cli/Cargo.lock
  cli/Cargo.toml
  cli/flox/src/utils/openers.rs
  pkgs/rust-external-deps/default.nix
Labels: team-cli

#2337 fix: install "outputsToInstall" packages with higher priority
  buildenv/builder.pl
Labels: team-cli

#2339 Make venv boilerplate consistent across shells
  cli/flox/src/commands/init/mod.rs
Labels: team-cli

#2342 feat: prep Bash changes needed for run mode
  assets/activation-scripts/activate
  assets/activation-scripts/activate.d/attach-command.bash
  assets/activation-scripts/activate.d/attach-inplace.bash
  assets/activation-scripts/activate.d/attach-interactive.bash
  assets/activation-scripts/activate.d/bash
  assets/activation-scripts/activate.d/fish
  assets/activation-scripts/activate.d/start.bash
  assets/activation-scripts/activate.d/tcsh
  assets/activation-scripts/activate.d/zsh
  assets/activation-scripts/etc/profile.d/0100_common-paths.sh
  cli/tests/activate.bats
  cli/tests/activate/verify_PATH.bash
  pkgs/flox-activation-scripts/default.nix
  pkgs/flox-cli-tests/default.nix
Labels: team-cli

#2346 feat: activate in runtime mode
  cli/flox/src/commands/activate.rs
  cli/flox/src/commands/install.rs
  cli/flox/src/commands/services/mod.rs
  cli/tests/activate.bats
  test_data/config.toml
  test_data/generated/resolve/almonds.json
Labels: team-cli

#2349 fix(build): Don't check FLOX_INTERPRETER for clean
  package-builder/flox-build.mk
Labels: team-cli

#2352 fix(env): Replace dbg! with debug!
  cli/flox-rust-sdk/src/models/environment/remote_environment.rs
Labels: team-cli

#2333 chore: Release 1.3.4
  VERSION
Labels: team-cli

#2324 Implement feature flagged publish command
  cli/flox-rust-sdk/src/flox.rs
  cli/flox-rust-sdk/src/models/lockfile.rs
  cli/flox-rust-sdk/src/providers/catalog.rs
  cli/flox-rust-sdk/src/providers/git.rs
  cli/flox-rust-sdk/src/providers/publish.rs
  cli/flox/src/commands/mod.rs
  cli/flox/src/commands/publish.rs
  cli/flox/src/utils/init/catalog_client.rs
  pkgdb/src/realisepkgs/realise.cc
  pkgdb/src/realisepkgs/realisepkgs-lockfile.cc
Labels: team-cli, team-saas

#2359 feat: skip eval if outpaths already exist
  pkgdb/include/flox/realisepkgs/realisepkgs-lockfile.hh
  pkgdb/src/realisepkgs/realise.cc
  pkgdb/src/realisepkgs/realisepkgs-lockfile.cc
Labels: team-cli

#2365 feat: Notify users that envs are public and add a link to settings
  cli/flox/src/commands/push.rs
Labels: team-cli, team-saas

#2363 feat: add install message after publish
  cli/flox-rust-sdk/src/providers/publish.rs
  cli/flox/src/commands/publish.rs
Labels: team-saas

#2372 Temporarily disable `aarch64-darwin` builders
  .github/workflows/ci.yml
Labels: team-cli, team-developer-support

#2377 revert: temporarily disable aarch64-darwin builders
  .github/workflows/ci.yml
Labels: team-cli, team-developer-support

#2375 refactor: impl Environment for ConcreteEnvironment
  cli/Cargo.lock
  cli/flox-rust-sdk/src/models/environment/mod.rs
  cli/flox/Cargo.toml
  cli/flox/src/commands/activate.rs
  cli/flox/src/commands/build.rs
  cli/flox/src/commands/delete.rs
  cli/flox/src/commands/edit.rs
  cli/flox/src/commands/init/mod.rs
  cli/flox/src/commands/mod.rs
  cli/flox/src/commands/publish.rs
Labels: team-cli

#2376 feat(build): print paths to build outputs
  cli/flox-rust-sdk/src/models/environment/path_environment.rs
  cli/flox-rust-sdk/src/providers/build.rs
  cli/flox-rust-sdk/src/providers/buildenv.rs
  cli/flox-rust-sdk/src/providers/publish.rs
  cli/flox/src/commands/build.rs
Labels: team-cli

#2370 test(activate): Workaround bashrc_Apple_Terminal
  cli/tests/activate.bats
Labels: team-cli

#2292 Don't raise error when compare of version is not possible
  cli/flox-rust-sdk/src/data/flox_version.rs
  cli/flox-rust-sdk/src/flox.rs
  cli/flox-watchdog/src/main.rs
  cli/flox/src/commands/mod.rs
  pkgs/flox/default.nix
Labels: team-cli

#2391 chore(upgrade): pretty print upgraded lockfile
  cli/flox-rust-sdk/src/models/environment/core_environment.rs
Labels: team-cli

#2392 feat: reduce log output
  assets/activation-scripts/activate.d/start.bash
  cli/Cargo.lock
  cli/Cargo.toml
  cli/flox-watchdog/Cargo.toml
  cli/flox-watchdog/src/logger.rs
  cli/flox-watchdog/src/main.rs
  cli/flox-watchdog/src/process.rs
  cli/tests/activate.bats
  cli/tests/services.bats
  cli/tests/watchdog.bats
Labels: team-cli

#2397 feat: define flox-build.mk verbosity macros based on $_FLOX_PKGDB_VERBOSITY
  package-builder/flox-build.mk
Labels: team-cli

#2399 fix: propagate error from process substitution in flox-build.mk
  cli/flox-rust-sdk/src/providers/build.rs
  package-builder/flox-build.mk
Labels: team-cli

#2379 chore: improve message for missing `$out`
  cli/flox-rust-sdk/src/providers/build.rs
  package-builder/build-manifest.nix
Labels: team-cli

#2386 test: increase timeout of service log tests that follow
  cli/tests/services.bats
Labels: team-cli

#2400 fix(watchdog): GC old watchdog.*.log pattern
  cli/flox-watchdog/src/logger.rs
Labels: team-cli

#2406 chore(push): Generalise FloxHub editing message
  cli/flox/src/commands/push.rs
Labels: team-cli

#2408 fix(remote): Honour trust for case sensitive envs
  cli/Cargo.lock
  cli/Cargo.toml
  cli/tests/environment-remote.bats
Labels: team-cli

#2415 style: DRY nit in activations.rs
  cli/flox/src/commands/activate.rs
Labels: team-cli

#2422 chore: Update client id for floxhub tests
  cli/tests/floxhub-cross-systems.bats
Labels: team-cli

#2418 fix: add timeout-minutes and FLOX_DISABLE_METRICS
  .github/workflows/ci.yml
  .github/workflows/nix-managed-lints.yml
  .github/workflows/proxy.yml
Labels: team-cli

#2407 feat: allow overriding opened browser with `BROWSER`
  cli/flox/src/utils/openers.rs
Labels: team-cli

#2434 test(activate): Capture watchdog logs
  cli/tests/activate.bats
Labels: team-cli

#2432 feat: allow overriding Nix store
  cli/flox-rust-sdk/src/providers/buildenv.rs
  pkgdb/include/flox/core/nix-state.hh
Labels: team-cli

#2414 chore: add activation architecture diagram
  cli/flox/src/commands/activate-architecture.mmd
Labels: team-cli

#2427 feat: Upload published packages to specified cache
  cli/flox-rust-sdk/src/providers/publish.rs
  cli/flox/src/commands/publish.rs
Labels: team-cli, team-saas

#2444 feat: add `lock-manifest` command
  cli/flox/src/commands/lock_manifest.rs
  cli/flox/src/commands/mod.rs
Labels: team-cli
