Repository flox/flox, pull requests merged in 2024-07, with the labels that each got.

#1717 chore: remove flox-gh
  cli/tests/setup_suite.bash
  flake.nix
  pkgs/flox-gh/default.nix
  pkgs/flox-gh/flox-gh.patch.v2.32.1
Labels: greenkeeping

#1716 chore: move flox-activation-scripts assets into its pkgs directory
  assets/activation-scripts/activate
  assets/activation-scripts/activate.d/bash
  assets/activation-scripts/activate.d/fish
  assets/activation-scripts/activate.d/set-prompt.bash
  assets/activation-scripts/activate.d/set-prompt.fish
  assets/activation-scripts/activate.d/set-prompt.tcsh
  assets/activation-scripts/activate.d/set-prompt.zsh
  assets/activation-scripts/activate.d/tcsh
  assets/activation-scripts/activate.d/tcsh_home/.tcshrc
  assets/activation-scripts/activate.d/zdotdir/.zlogin
  assets/activation-scripts/activate.d/zdotdir/.zprofile
  assets/activation-scripts/activate.d/zdotdir/.zshenv
  assets/activation-scripts/activate.d/zdotdir/.zshrc
  assets/activation-scripts/activate.d/zdotdir/README.md
  assets/activation-scripts/activate.d/zsh
  assets/activation-scripts/etc/profile.d/0100_common-paths.sh
  assets/activation-scripts/etc/profile.d/0500_python.sh
  assets/activation-scripts/etc/profile.d/0800_cuda.sh
  pkgdb/Makefile
  pkgs/flox-activation-scripts/default.nix
Labels: greenkeeping

#1630 refactor: add collective type for descriptor variants
  cli/flox-rust-sdk/src/models/environment/managed_environment.rs
  cli/flox-rust-sdk/src/models/lockfile.rs
  cli/flox-rust-sdk/src/models/manifest.rs
Labels: team-cli

#1810 fix(uninstall): Correct package uninstallation with dotted attr_path
  cli/flox-rust-sdk/src/models/environment/core_environment.rs
  cli/flox-rust-sdk/src/models/manifest.rs
  cli/flox/src/utils/errors.rs
  cli/tests/install.bats
Labels: bug, enhancement, team-cli, team-saas
