Repository flox/flox, pull requests merged in 2025-01, with the labels that each got.

#2565 fix(activate): zsh interactive force rehash
  assets/activation-scripts/activate.d/zsh
  cli/tests/activate.bats
Labels: team-cli

#2567 fix(activations): Recover from deadlock
  cli/flox-activations/src/cli/start_or_attach.rs
  cli/flox-core/src/activations.rs
Labels: team-cli

#2571 fix: drop redundant "Producing..." spinners
  cli/flox-rust-sdk/src/providers/buildenv.rs
Labels: team-cli

#2580 fix(activate): export internal variables required for in-place
  assets/activation-scripts/activate.d/generate-bash-startup-commands.bash
  assets/activation-scripts/activate.d/generate-fish-startup-commands.bash
  assets/activation-scripts/activate.d/generate-tcsh-startup-commands.bash
Labels: team-cli

#2581 chore: release 1.3.10
  VERSION
Labels: team-cli

#2514 test: enable macos containerize tests
  .github/workflows/ci.yml
  cli/flox/src/commands/containerize/macos_containerize_proxy.rs
  cli/tests/containerize.bats
  cli/tests/test_support.bash
  pkgs/flox-cli-tests/default.nix
Labels: team-cli

#2591 docs: update flox-config man page with all options
  cli/flox/doc/flox-config.md
  cli/flox/src/commands/activate.rs
  cli/flox/src/config/mod.rs
Labels: team-cli

#2536 refactor: drop some dead pkgdb search code
  cli/flox/src/commands/init/mod.rs
Labels: team-cli

#2596 chore: change containerize test ref to main
  cli/tests/containerize.bats
Labels: team-cli

#2545 chore: use findutils in preference to fd
  assets/activation-scripts/etc/profile.d/0800_cuda.sh
  pkgs/flox-activation-scripts/default.nix
  pkgs/flox-manpages/default.nix
Labels: team-cli

#2587 refactor: rework podman vm lifecycle
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Justfile
  cli/tests/containerize.bats
  pkgs/flox-cli-tests/default.nix
  shells/default/default.nix
Labels: will-squash

#2616 Revert "test(containerize): Override FLAKE_REF_OR_REV"
  cli/tests/containerize.bats
Labels: team-cli

#2626 fix(tests): round timestamps down to seconds
  cli/flox-rust-sdk/src/providers/upgrade_checks.rs
Labels: team-cli

#2599 docs: document containerize.config as experimental
  cli/flox-rust-sdk/src/models/manifest.rs
  cli/flox/doc/flox-containerize.md
  cli/flox/doc/manifest.toml.md
Labels: team-cli, will-squash

#2625 chore: Release 1.3.11
  VERSION
  cli/flox-rust-sdk/src/models/manifest.rs
  cli/flox/doc/flox-containerize.md
  cli/flox/doc/manifest.toml.md
Labels: team-cli

#2622 feat: add extra build options
  cli/flox-rust-sdk/src/models/manifest.rs
  cli/flox-rust-sdk/src/providers/build.rs
  cli/flox-rust-sdk/src/providers/publish.rs
  cli/flox/src/commands/publish.rs
  package-builder/build-manifest.nix
  package-builder/flox-build.mk
Labels: team-cli

#2618 ci: block merging of WIP commit prefixes
  .github/workflows/nix-managed-lints.yml
  pkgs/pre-commit-check/default.nix
Labels: team-cli

#2628 feat(services): Add exit codes to output
  cli/flox-rust-sdk/src/providers/services.rs
  cli/flox/src/commands/services/status.rs
Labels: team-cli

#2640 fix(manifest): Add+test missing skip serialize
  cli/flox-rust-sdk/src/models/manifest.rs
Labels: team-cli

#2620 feat: add support for _FLOX_SHELL_FORCE
  assets/activation-scripts/activate
  cli/flox/doc/flox-activate.md
Labels: team-cli

#2642 test: drop some unused pkgdb vars
  cli/tests/ld-floxlib.bats
  cli/tests/setup_suite.bash
  cli/tests/upgrade.bats
Labels: team-cli

#2654 docs: update community CI instructions
  CONTRIBUTING.md
Labels: team-cli

#2656 fix(ci): installers were not building on each commit
  .github/workflows/ci.yml
Labels: team-cli

#2657 fix(containerize): Proxy vol per Flox version
  cli/flox/doc/flox-containerize.md
  cli/flox/src/commands/containerize/macos_containerize_proxy.rs
Labels: team-cli

#2666 feat: add LD_FLOXLIB_{FILES,DIRS}_PATH support to ld-floxlib
  assets/activation-scripts/activate.d/flox-env-helper.awk
  assets/activation-scripts/etc/profile.d/0100_common-paths.sh
  assets/activation-scripts/etc/profile.d/0800_cuda.sh
  cli/flox/doc/doc-build/manifest.toml.md
  cli/flox/doc/manifest.toml.md
  cli/tests/cuda/cuda-disabled.sh
  cli/tests/cuda/cuda-enabled.sh
  cli/tests/ld-floxlib.bats
  cli/tests/ld-floxlib/test-load-library-last.sh
  cli/tests/setup_suite.bash
  ld-floxlib/Makefile
  ld-floxlib/ld-floxlib.c
  ld-floxlib/unit-test.c
  package-builder/closure.c
  package-builder/sandbox.c
Labels: team-cli

#2676 test: skip compatability check for relase commits
  cli/tests/activate.bats
Labels: team-cli
